/* CSS RESETS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom CSS properties --* */

:root {
  --main-fontfamily: "Epilogue", Arial, Helvetica, sans-serif;
  --main-fontsize: 18px;
  --color-almost-black: hsl(0, 0%, 8%);
  --color-medium-gray: hsl(0, 0%, 41%);
  --color-almost-white: hsl(0, 0%, 98%);
}

body {
  font-family: var(--main-fontfamily);
  font-size: var(--main-fontsize);
  background-color: var(--color-almost-white);
}

.header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  background-color: var(--color-almost-white);
  list-style-type: none;
}
.nav-links.collapsed {
  display: none;
}
.nav-links.expanded {
  top: 7%;
  left: 36%;
  right: 0;
  height: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.nav-item {
  display: flex;
}

.nav-link {
  padding: 0.8em 1.5em;
  text-decoration: none;
  display: inline-block;
  color: var(--color-medium-gray);
}

.nav-link:hover {
  color: var(--color-almost-black);
}

.nav-link.login-btn {
  text-align: center;
  margin: 1em auto 0;
}
.nav-link.register-btn {
  margin: 0 auto;
  border: 1px solid var(--color-medium-gray);
  border-radius: 15px;
  padding: 0.5em 3em;
}

/* Grid for the hero, slogan(main) and footer sections */
.grid {
  display: grid;
  text-align: center;
  margin: 0 auto;

  grid-template-areas:
    "hero"
    "main"
    "footer";
}

/* MENU TOGGLE BUTTON (JS) */

.toggle-button {
  cursor: pointer;
  appearance: none;
  background: none;
  border: 0;
  outline: none;
  width: 30px;
  height: 25px;
  /* TODO : what is correct size?? */

  background-size: contain;
  background-repeat: no-repeat;
}
.toggle-button.collapsed {
  background-image: url("../images/icon-menu.svg"); /* image to expand menu */
}
.toggle-button.expanded {
  height: 25px;
  background-image: url("../images/icon-close-menu.svg"); /* image to collapse menu */
  z-index: 10000;
}

/* HERO IMAGE */
.hero-wrapper {
  grid-area: hero;
}
.hero-image {
  width: 100%;
  display: block;

  max-width: 750px; /* avoid stretching image - margin instead */
  margin: 0 auto;
}
/* SLOGAN BLOCK (MAIN) */
.slogan-block {
  grid-area: main;
  padding: 2.5em 0.5em;
}
.slogan-caption {
  font-size: 34px;
  color: var(--color-almost-black);
}

.slogan-copytext {
  margin-top: 0.5em;
  color: var(--color-medium-gray);
  line-height: 1.5;
  padding: 0 0.5em;
}
.slogan-cta {
  background-color: var(--color-almost-black);
  color: var(--color-almost-white);
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  margin: 1.5em;
  padding: 1em 1em;
}

.footer {
  grid-area: footer;
  display: flex;
  gap: 10%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 4em;
}

.client-icon {
  flex: 1 1 100px;
  max-width: 130px;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .hero-image {
    max-width: 960px; /* avoid stretching image - margin instead */
  }

  /* two-column grid layout */
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
      "main   hero"
      "footer hero";
  }
}
